.information {
    display: none;
}


@media (min-width: 768px) {

    .information {
        display: block;
        position: relative;
        cursor: pointer;
    }

    .information__text {
        font-family: "Montserrat-Regular", sans-serif;
        font-size: 14px;
        line-height: 17px;
    }

    .information__img-tick {
        position: absolute;
        top: 7px;
        left: 108px;
    }

    .information__text-border {
        width: 97px;
        height: 1px;
        background-color: rgba(229, 229, 229, 1);
        margin: 2px auto 0 auto;
    }
}

@media (min-width: 1024px) {

    .information__text {
        margin-top: 2px;
        display: block;
    }
    
    .information__img-tick {
        left: 107px;
    }
}