.social-btns {
    display: none;
}

@media (min-width: 1366px) {

    .social-btns {
        display: flex;
        margin-left: 21px;
    }

    .social-btn {
        height: 28.5px;
        padding-top: 2px;
        
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}