.search-panel {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 0 15px;
}

.search-panel__input {
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(246, 246, 246, 1);
    color: rgba(96, 96, 96, 1);
    padding: 11px 20px;
    width: 100%;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 14px;
    line-height: 17px;
}
