@font-face {
	font-family: "Montserrat-Regular"; 
	src: local("Montserrat-Regular"),
	url(./fonts/Montserrat-Regular.ttf); 
}

@font-face {
	font-family: "Montserrat-Medium"; 
	src: local("Montserrat-Medium"),
	url(./fonts/Montserrat-Medium.ttf); 
}

@font-face {
	font-family: "Montserrat-SemiBold"; 
	src: local("Montserrat-SemiBold"),
	url(./fonts/Montserrat-SemiBold.ttf); 
}


body {
    margin: 0;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 10px;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}